@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Superficies (fondos, tarjetas, etc.) */
    --bg-1: #F6F8F8;
    --bg-2: #FFFFFF;

    /* Texto */
    --text-1: #111718;
    --text-2: #6C8E91;
    /* muted-foreground */

    /* Botones / Acciones */
    --button-1: #2BDEEE;
    --button-1-text: #111718;
    --button-2: #F6F8F8;

    --border-1: #DBE5E6;
}

.dark {
    /* Superficies (fondos, tarjetas, etc.) */
    --bg-1: #0A1921;
    --bg-2: #0F202B;

    /* Texto */
    --text-1: #E2E8F0;
    --text-2: #94A3B8;
    /* muted-foreground */

    /* Botones / Acciones */
    --button-1: #2DD4BF;
    --button-1-text: #0A1921;
    --button-2: #0F202B;

    --border-1: #213F4F;
}